body {
    background-color: #173B5F;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    color: #D5A038;
}

.time_title {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #D5A038;
}

.clock {
    display: flex;
    justify-content: center;
}

.hours, .minutes, .seconds, .separator {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #B15445
}

.alarm {
    display: flex;
    flex-direction: column;
}

.alarm_title {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #D5A038;
}

.alarm_input {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    border: none;
    background-color: #F2F2F2;
    color: #B15445;
}

.alarm_button {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    border: none;
    background-color: #D5A038;
    color: #173B5F;
}